.layout{
    width: 100vw;
}

.main-section{
    font-family: "Montserrat-medium";
    font-size: 14px;
    margin-top: 20px;
}

.main-section__blog{
    margin-top: 16px;
}

h1{
    font-family: "Montserrat-bold";
    font-size: 24px;
    line-height: 32px;
    padding-top: 20px;
}


h3{
    font-family: "Montserrat-Bold";
    font-size: 18px;
    line-height: 24px;
}

h4{
    font-family: "Montserrat-Bold";
    font-size: 16px;
    line-height: 24px;
}

h5{
    font-family: "Montserrat-Bold";
    font-size: 18px;
    line-height: 24px;
    margin: auto;
}

h6{
    font-family: "Montserrat-Regular";
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 16px;
}

p{
    margin-top: 16px;
    font-family: "Montserrat-Medium";
    font-size: 16px;
    line-height: 24px;
}

.main-section__author{
    display: block;
    font-family: "Montserrat-Regular";
    font-size: 14px;
    color: rgba(73, 73, 73, 1);
    padding-top: 20px;

    > img{
        width: 100%;
    }
}

.main-section__contents-table{
    padding-top: 20px;
    >ul{
        color: #03B2A5;
        padding-left: 30px;
    }
}

.main-section__contents-table a{
    font-family: "Montserrat-Medium";
    font-size: 16px;
    line-height: 24px;
    color: rgb(51, 51, 51);
    text-decoration: underline;
    list-style-type: disc;
}

.main-section__quote{
    background-color: rgba(243, 247, 254, 1);
    font-family: "Montserrat-Bold";
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
}

.main-section__quote h4{
    padding-left: 20px;
}

.main-section__quote p{
    font-family: "Montserrat-italic";
    font-size: 16px;
    line-height: 24px;
    padding: 16px;
    margin-top: 0px;
}

.main-section__content{
    padding-top: 20px;
    >ul{
        padding-left: 30px;
        >li{
            color: #03B2A5;
        }
    }
}

.main-section__content a{
    font-family: "Montserrat-Medium";
    font-size: 16px;
    line-height: 24px;
    color: rgba(51, 51, 51);
}


.main-content__img{
    display: block;
    font-family: "Montserrat-Regular";
    font-size: 14px;
    color: rgba(134, 134, 134, 1);
    margin-top: 24px;

    > img{
        width: 100%;
    }
}


.main-section__content-quote{
    font-family: "Montserrat-Bold";
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-top: 24px;

    >img{
        width: 250px;
        height: 168px;
        margin: auto;
    }
    >p{
        font-family: "Montserrat-Italic";
        position: absolute;
        width: 485px;
        margin: 0px;
    }
}

.main-section__content-img{
    display: flex;
    flex-direction: column;
    padding: 24px 0;

    >p{
        padding-left: 20px;
    }
}

.main-section__content-img img{
    width: 100%;
}


.main-section__content-union{
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}

.main-section__content-content{
    font-family: "Montserrat-Medium";
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
    >img{
        width: 100%;
    }
}

.main-section__content-contents a{
    font-family: "Montserrat-Medium";
    font-size: 16px;
    line-height: 24px;
    color: rgb(51, 51, 51);
}

.main-section__content-contents ul{
        color: #03B2A5;
        padding-left: 30px;
}
.main-section__content{
    font-family: "Montserrat-Medium";
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;

    >li{
        color: #03B2A5;
    }
}

.main-section__content-flex{
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.main-section__content-exercise{
    background-color: rgba(254, 250, 236, 1);
    padding: 16px;
    border-radius: 16px;
    margin-top: 24px;

    >p{
        margin-top: 8px;
    }
}


@media screen and (min-width: 1440px){
    .main{
        margin: 40px 120px;
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 1024px) and (max-width: 1440px){
    .main{
        padding: 30px 32px;
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .main{
        padding: 20px 20px;
    }
}

@media (min-width: 414px) and (max-width: 768px){
    .main{
        padding: 0 20px;
    }
}

@media (min-width: 320px) and (max-width: 414px){
    .main{
        padding: 0 16px;
    }
}

.main__blog{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 100%;
    grid-template-areas: 
    "main__blog-card"
    "main__blog-portfolio"
    "main__blog-slip"
    "maim__blog-buy";
    gap: 30px;
    margin-bottom: 30px;
}

.main__blog-card{
    grid-area: main__blog-card;
    display: block;
    background-color: rgba(230, 240, 253, 1);
    border-radius: 16px;
}

.blog-card__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(230, 240, 253, 1);
    margin: 29px 25px;

    >h3{
        font-family: "Montserrat-Bold";
        font-size: 18px;
        line-height: 24px;
        padding-top: 24px;
    }

    >p{
        font-family: "Montserrat-Regular";
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 24px;
    }

    >button{
        width: 15em;
        height: 48px;
        background-color: rgba(53, 179, 169, 1);
        border: none;
        border-radius: 4px;

        >a{
            font-family: "Montserrat-Bold";
            font-size: 16px;
            line-height: 24px;
            color: rgba(255, 255, 255, 1);
        }
    }
}


.main__blog-portfolio{
    grid-area: main__blog-portfolio;
    border: 1px solid rgba(222, 222, 222, 1);
    border-radius: 16px;
}

.blog-portfolio__name{
    margin: 29px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog-portfolio__name-blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    >h2{
        font-family: "Montserrat-Bold";
        font-size: 20px;
        line-height: 28px;
    }

    >h3{
        font-family: "Montserrat-SemiBold";
        font-size: 16px;
        line-height: 24px;
    }

    >span{
        font-family: "Montserrat-Medium";
        font-size: 14px;
        line-height: 20px;
        color: rgba(162, 167, 177, 1);
    }

    >img{
        border-radius: 50%;
    }
}

.blog-portfolio__name-blog::after{
    content: "";
    width: 15rem;
    height: 1px;
    background-color: rgba(222, 222, 222, 1);
    margin: 16px 0;
}

.blog-portfolio__button{
    display: flex;
    flex-direction: column;
    align-items: center;

    >h3{
        font-family: "Montserrat-Bold";
        font-size: 16px;
        line-height: 24px;
    }

    >ul{
        padding: 0;
        margin-left: 20px;

        >li{
            font-family: "Montserrat-Regular";
            font-size: 14px;
            line-height: 20px;
            margin-top: 8px;
        }
    }

    >button{
        width: 15em;
        height: 48px;
        background-color: rgba(53, 179, 169, 1);
        border: none;
        border-radius: 4px;
        margin-top: 16px;

        >a{
            font-family: "Montserrat-Bold";
            font-size: 16px;
            line-height: 24px;
            color: rgba(255, 255, 255, 1);
        }
    }
}

.main__blog-slip{
    grid-area: main__blog-slip;
    position: relative;

    >img{
        width: 288px;
        height: 292px;
    }
}

.maim__blog-buy{
    grid-area: maim__blog-buy;
    border: 1px solid rgba(222, 222, 222, 1);
    border-radius: 16px;
}

.blog-buy__info{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
    "blog-buy__text"
    "blog-buy__img";
}


.blog-buy__text{
    grid-area: blog-buy__text;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;

    >h3{
        font-family: "Montserrat-Bold";
        font-size: 24px;
        line-height: 32px;
        color: rgba(41, 99, 163, 1);
    }
    
    >p{
        font-family: "Montserrat-Regular";
        font-size: 14px;
        line-height: 20px;
    }

    h2{
        font-family: "Montserrat-Bold";
        font-size: 24px;
        line-height: 32px;
    }
}

.blog-buy__img{
    grid-area: blog-buy__img;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:16px;
    position: relative;

    >button{
        width: 7em;
        height: 48px;
        background-color: rgba(53, 179, 169, 1);
        border: none;
        border-radius: 4px;
        margin-top: 16px;

        >a{
            font-family: "Montserrat-Bold";
            font-size: 16px;
            line-height: 24px;
            color: rgba(255, 255, 255, 1);
        }
    }

    >img{
        border-radius: 15px;
        position: absolute;
        right: 0px;
        top: -18px;
    }
}

.main__blog-slip{
    position: relative;
}

.blog-slip__img{
    position: relative;
    background-color: rgb(41, 99, 163); 
    border-radius: 16px;
    padding-top: 80px;
    box-shadow: inset 0px 50px 50px -20px #ffffff;
    
    >p{
        font-family: "Montserrat-Bold";
        font-size: 32px;
        line-height: 40px;
        color: rgba(255, 255, 255, 1);
        position: relative;
        top: -170px;
        left: 20px;
    }
}

.blog-slip__img-blog{
    position: absolute;
    top: 6px;
    z-index: 0;
}

.blog-slip__img-slip{
    position:relative;
    bottom: -60px;
}

#Frame2{
    position: relative;
    left: 10px;
    width: 90%;
    height: 141px;
}

#image{
    position: relative;
    left: 0px;
    width: 100%;
    bottom: 0px;
}


    .main-section__content-content{
        display: flex;
        flex-direction: column;
        >p{
            padding-left: 20px;
        }
        >img{
            width: 288px;
            height: 160px;
        }
    }

    @media screen and (min-width: 414px){
        .main-section__content-content img{
            width: 374px;
            height: 207px;
        }
    }

    .main-section__content-flex{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .content-flex1{
        display: flex;
        flex-direction: column;
        padding-right: 10px;
    }

    .content-flex2{
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }

    .main-section__content-exercise{
        padding: 24px;
    }


@media screen and (min-width: 414px) {
    .blog-slip__img p{
        top: -170px;
        left: 60px;
    }
}


@media screen and (min-width: 1440px){
    .main-section{
        padding-right: 350px;
    }
    .main__blog{
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 100%;
        grid-template-areas: 
        "main__blog-card"
        "main__blog-portfolio"
        "main__blog-slip"
        "maim__blog-buy";
        gap: 30px;
        margin-bottom: 30px;
    }
    .main-section__content-img{
        display: flex;
        flex-direction: row;
    }
    .main-section__content-content{
        display: flex;
        flex-direction: row;
    }
    .main-section__content-flex{
        display: flex;
        flex-direction: row;
        row-gap: 20px;
    }
    .blog-slip__img p {
        top: -170px;
        left: 28px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px){
    .main__blog{
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 100%;
        grid-template-areas: 
        "main__blog-card"
        "main__blog-portfolio"
        "main__blog-slip"
        "maim__blog-buy";
        gap: 30px;
        margin-bottom: 30px;
    }
    .main-section__blog{
        width: 25vh;
        margin-left: 30px;
    }
    .main-section{
        padding-right: 24px;
    }
    .main-section__content-img{
        display: flex;
        flex-direction: row;
    }
    .main-section__content-content{
        display: flex;
        flex-direction: row;
    }
    .main-section__content-flex{
        display: flex;
        flex-direction: row;
        row-gap: 20px;
    }
}

@media (min-width: 420px) and (max-width: 770px){
    .main__blog{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto auto;
        grid-template-areas: 
        "main__blog-card main__blog-portfolio"
        "main__blog-slip maim__blog-buy";
        gap: 30px;
        margin-bottom: 50px;
    }
    .main-section__content-img{
        display: flex;
        flex-direction: row;
    }
    .main-section__content-content{
        display: flex;
        flex-direction: row;
    }
    .main-section__content-flex{
        display: flex;
        flex-direction: row;
        row-gap: 20px;
    }
}

@media (min-width: 310px) and (max-width: 420px){
    .main__blog{
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 100%;
        grid-template-areas: 
        "main__blog-card"
        "main__blog-portfolio"
        "main__blog-slip"
        "maim__blog-buy";
        gap: 30px;
        margin-bottom: 30px;
    }
}